

.primitive {
    display:inline-block;
    text-align: center;
    vertical-align: middle;
    background:greenyellow;
    margin:2px 0px;
    padding:0px;
}

.prefix, .postfix, .timesDivide, .addSubtract, .operator, .expression, .expressions {
    display:inline-block;
    text-align: center;
    vertical-align: middle;
    background:transparent;
    margin:0px;
    padding:0px;
}

.prefix {
    display:inline-block;
    text-align: center;
    vertical-align: middle;
    background:orange;
    margin:0px;
    padding:0px;
}

.primitiveContainer, .subscriptContainer, .superscriptContainer, mathBland{
    display:inline-block;
    text-align: center;
    vertical-align:middle;
}


/*******************************************************************/

.symbol {
    display: inline-flex;      /* makes it a flex container for the SVG */
    align-items: stretch;      /* stretches SVG inside */
    flex-shrink: 0;
    background: transparent;
}


.symbolContainer {
    display: inline-grid;
    grid-auto-flow:column;
    align-items: stretch; /* stretch children to same height */
   
  
}

.vinculum{
    display:inline-block;
    border-top:2px solid black;
    padding-top:2px;
    
}

.symbolContainer svg {
    height: 100%;    /* fills parent’s height */
    width: auto;     /* preserve aspect ratio */
    flex-shrink: 0;
}


.brace{
    display:inline-flex;
    align-items: stretch;
    /*
    text-align: center;
    vertical-align: middle;
    */
    margin:0.5ch;
    border: 0px;
    border-left: 3px solid black;
    border-right: 3px solid black;
    border-radius: 1ch;
    padding:0.5ch;
    font-size:inherit;
}

.invisibleBrace{
    display:inline-block;
    text-align: center;
    vertical-align: middle;
    margin:0px;
    border: 0px;
    padding:0ch;
    font-size:inherit;
}

.dividingLine{
    display:inline-grid;
    background:black;
    height:2px;
    margin:3px 0px;
}

.divide{
    display:inline-grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    vertical-align: middle;
    text-align: center;
    align-items: baseline;
    margin:0px;
    padding:0px;
}




.subscript {
    display:inline-block;
    vertical-align: -0.25ch;
    font-size: 0.8em;
    margin-left:-0.25em;
}

.superscript {
    display:inline-block;
    vertical-align: super;
    font-size: 0.8em;
    margin-left: -0.25em;
}




.card {
    display:block;
    text-align: center;
    vertical-align: middle;
    width:fit-content;
    margin:0px;
    padding: 2ch 4ch;
    font-size: 1em;
    border-radius: 1ch;
    box-shadow: 3px 3px 15px rgba(0,0,0,0.5);
    background: rgb(255,255,245);
}

.legend{
    background:transparent;
    font-size:0.7em;
    font-weight: bold;
    line-height: 1.5;
    color:rgba(125,62,0,0.75);
}

.legend:first-child{
    margin-top:2ch;
  
}

