



.primitive {
    text-align: center;
}


.brace{
    margin:0px;
    border: 0px;
    border-left: 3px solid black;
    border-right: 3px solid black;
    border-radius: 1ch;
    padding:0.25ch;
    font-size:inherit;
}

.invisibleBrace{
    margin:0px;
    border: 0px;
    padding:0ch;
    font-size:inherit;
}

.fractionDivider{
    display:inline-block;
    background:black;
    height:3px;
    margin:3px 0px;
}


.divideOver{
    display:inline-grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    vertical-align: middle;
    text-align: center;
}


.binary{
    vertical-align: middle;

}



.operator{

}

.expression{
    
}


.card {
    width:fit-content;
    margin:0px;
    padding: 1ch 2ch;
    font-size: 1.3em;
    border-radius: 1.3ch;
    box-shadow: 3px 3px 15px rgba(0,0,0,0.4);
    background: white;
}

