/* 

////////////////////////       My CSS File     ////////////////////////////

*/


html{
    /*background-image: linear-gradient(to right, black, lightgray);*/
    background-color: white;

}

body{
    background-color: white;
    margin: 0px;
    font-family: Arial;
    min-width: 750px;
}

header{
    font-size: 40px;
    margin: 0px;
    padding: 10px;
    color: black;
    background-color: gray;
    background-image: linear-gradient(to right, lightgray, white);
    border-radius: 0px;
    box-shadow: 0px 5px 10px rgb(200,200,200,256);
}

.siteHeader{
    font-size: 20px;
    font-weight: bold;
    margin: 0px;
    padding: 7px;
    color: rgb(249, 246, 247);
    /*background-color: rgb(26, 26, 26);*/
    background-image: linear-gradient(to right, rgb(107, 104, 104), rgb(0, 0, 0));
    border-radius: 0px;
    box-shadow: 0px 5px 10px rgb(200,200,200,256);
}

footer{
    font-size: 100%;
    padding: 5px;
    color: white;
    background-image: linear-gradient(160deg, black, black, gray, black, black);
    border-radius: 0px;

}

label{
    display: inline-block;
    font-size: 20px;
    padding:15px;
    text-decoration: none;

}

input[type=text]{
    font-size: 20px;
    margin: 15px;
    padding: 10px;
    box-shadow: 3px 3px 9px darkgray;
    border-radius: 10px;
    margin: 0px;
    color: black;
    text-decoration: none;
}



input[type=file]{
    font-size: 20px;
    margin: 15px;
    padding: 10px;

    margin: 0px;
    color: black;
    text-decoration: none;
}


input[type=file]::file-selector-button {
    font-size: 20px;
    margin-right: 20px;
    border: none;
    background: #084cdf;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
    background: #0d45a5;
}

/*
input[type = submit]{
    font-size: 100%;
    border: none;
    margin: 15px;
    padding:8px 15px;
    color: black;
    text-decoration: none;
    box-shadow: 3px 3px 9px darkgray;
    border-radius: 15px;
    background-image: linear-gradient(to bottom, lightgray, white, white, darkgray);
}

input[type = submit]:hover{
    background-image: linear-gradient(to bottom, darkgray, white, white, lightgray);
}
*/

input[type = submit]{
    font-size: 20px;
    margin-right: 20px;
    border: none;
    background: #084cdf;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
}

input[type = submit]:hover{
    background: #0d45a5;
}

.buttonRight{
    float:right;
    font-size: 16px;
    margin: 5px 0px 5px 15px;
    padding: 5px 10px;
    border: none;
    background: #084cdf;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    transition: background .2s ease-in-out;
}

.buttonRight:hover{
    background: #0d45a5;
}




form{
    clear:both;
}

form.verticalInputForm{
    display: inline-flex;
    flex-direction: column;
    justify-content:center;
}

button{
    /*font-size:120%;*/
    font-size: 16px;
    margin-right: 20px;
    border: none;
    background: #084cdf;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
}

button:hover{
    background: #0d45a5;

}

/*
button{
    font-size: 100%;
    border: none;
    margin: 15px;
    padding:8px 15px;
    color: black;
    text-decoration: none;
    box-shadow: 3px 3px 9px darkgray;
    border-radius: 15px;
    background-image: linear-gradient(to bottom, lightgray, white, white, darkgray);
}

button:hover{
    background-image: linear-gradient(to bottom, darkgray, white, white, lightgray);
}
*/

/*
label.button{
    font-size: 100%;
    border: none;
    margin: 15px;
    padding:8px 15px;
    color: black;
    text-decoration: none;
    box-shadow: 3px 3px 9px darkgray;
    border-radius: 15px;
    background-image: linear-gradient(to bottom, lightgray, white, white, darkgray);
}

label.button:hover{
    background-image: linear-gradient(to bottom, darkgray, white, white, lightgray);
}
*/



li{
    padding:5px;
}


/* division classes */

div.whiteCard{
    display: block;
    font-size: 16px;
    padding: 30px;
    box-shadow: 3px 3px 9px darkgray;
    border-radius: 15px;
    border: none;
    margin: 0px;
    color: black;
    text-decoration: none;
}


/* fixed top bar, say for menu */

header.fixedTopBar{
    z-index: 10;
    position: sticky;
    top: 0px;
    width: 100%;
    padding: 5px 10px 2px 10px
}



/***************************/
/* unordered list elements */
/***************************/


/* breadcrumb trail at top */


ul.breadcrumb {
    margin: 0px;
    padding: 20px 0px;
    list-style: none;
    background-color: #030303;

}

ul.breadcrumb li {
    margin:0px;
    padding: 0px;
    display: inline;
}


ul.breadcrumb li a {
    font-size: 100%;
    font-weight:bold;
    padding:10px 20px;
    margin: 0px;
    color: black;
    text-decoration: none;
    border: none;
    background: #4e4f50;
    border-radius: 0px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
}

ul li.selectedCrumb a{
    background: #bd3278;

}

ul.breadcrumb li a:hover {
    background: #d823c9;
}



/* EQUATION STYLES */

tr td.equationDividingLine{
    padding: 0px;
    margin: 2px;
    background-color: black;
    height: 3px;
}

tr td.equationDatum{
    text-align: center;
}

tr td.leftBrace{
    border-width: 2px;
    border-style: solid none solid solid;
}

tr td.rightBrace{
    border-width: 2px;
    border-style: solid solid solid none;
}


.formulaDiv{
    width:100%;
    margin:2ch 0ch;
    display: inline-flex;
    flex-direction: row;
    vertical-align: central;
    justify-content: space-between;
    background-color: inherit;
}


.formulaBox{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;


    margin:0ch;
    padding:  1.5ch;
    font-weight: bold;
    box-shadow: 2px 3px 9px darkgray;
    border-radius: 15px;
}


.formulaAside{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
    background-color:inherit;
    color:darkgray;
}

.formulaAsideLine{
    margin:0ch;
    padding: 0.5ch 0ch;
    text-align: left;

    font-weight: bold;
    font-size: 12px;

    background-color: inherit;
}

.formulaAsideDummy{
    vertical-align: central;
    margin:0ch;
    padding: 1.5ch;
    text-align: left;

    font-weight: bold;
    font-size: 12px;


    background-color:white;
    color:white;
}


/* end equation formatting styles */






.tableStyle1{
    width: 33%;
    border-collapse:collapse;
    border: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    margin-top: 5%;
    text-align: center;
}

.tableStyle1 td{
    border: 1px solid lightblue;
}



.tableStyle2{
    width: 100%;
    border: none;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    margin-top: 5%;
    text-align: center;
}

table.tableStyle3{
    width: 50%;
    border-collapse:collapse;
    border: none;
    margin-left: auto;
    margin-right: auto;
    margin-top:10%;
    margin-bottom: 10%;
    text-align: center;

    box-shadow: 6px 6px 10px darkgray;
}

table.tableStyle3 tr th{
    color:white;
    background-color: black;
    border: 4px solid white;
}

table.tableStyle3 tr td{
    padding:10px;
    border: 4px solid white;
}

/* the interval paces table */

table.intervalPaces{
    color:black;
    background-color: white;
    width: 50%;
    border-collapse:separate;
    border: none;
    margin: 10% auto 10% auto;

    text-align: center;

    box-shadow: 6px 6px 10px darkgray;
}

table.intervalPaces tr th{
    color:white;
    padding: 10px;
    background-color: black;
}

table.intervalPaces tr{
    color:white;
    background-color: green;
}

table.intervalPaces tr td{
    font-size: 30px;
    padding: 10px;
    color:black;
    background-color: beige;
}



caption{
    margin:10px;
    font-weight: bold;
    font-size: 30px;
}

figcaption{
    text-align: center;
    margin:0px;
    font-weight: bold;
    font-size:12px;
}

p{
    line-height: 1.5;
    margin-left: 0%;
    margin-right: 0%;
}

h1,h2,h3,h4,h5,h6{
    margin-left: 0%;
    margin-right:0%;
    color: rgba(120,110,80,256);
    clear:both; /* important to prevent titles having images etc... floating right or left of them as reduces impact*/
}




/* grid item in a "table" */
.gcon{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap:3px;
    padding:5px;
    background-color:#e5fdfc;
    align-items: center;
}

.git, .git2 {
    margin:0px;
    padding: 5px;
    text-align:center;
    vertical-align:central;
    background-color: white;
}

.git2{
    background-color: #e5fdfc;
}



nav.index ul li{
    list-style-type: none; 
    font-size:20px;
    
    margin:0px;
    padding:5px;
    
}


nav.index ul li a{
    font-weight: bold;
    color:#707050;
    text-decoration: none;
    padding:5px 5px;
}

nav.index ul li a:hover{
    color:#504130;
    background-image: linear-gradient(to top, lightgray, white);
    border-radius: 5px;
}


li.selectedItem a{
    /*background-image: linear-gradient(to top, lightgray, white);
    border-radius: 5px;
    */
    border-width: 1;
    border-style: solid;
    font-size:30px;

}



article{
    margin-left: 10%;
    margin-right:10%;
    text-align: justify;
    padding:1% 2%;
    font-family: Arial;
    font-size: 125%;
    color: darkslategray;
}

aside{
    float: right;
    margin: 10px 0px 1ch 3ch;
    padding: 10px;
    line-height: 1.5;
    text-align: left;

    font-weight: bold;
    font-size:12px;

    border-radius: 10px;
    box-shadow: 2px 3px 5px lightgray;

    background-color:#beb7a2 ;
    color:white;
}


.floatRight{
    float: right;
}

.centerImage10{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    padding:  0px;
    width: 10%;
}

.centerImage20{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    padding:  0px;
    width: 20%;
}

.centerImage33{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    padding:  0px;
    width: 33%;
}


.centerImage50{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    padding:  0px;
    width: 50%;
}
.centerImage66{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    padding:  0px;
    width: 66%;
}

.centerImage90{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    padding:  0%;
    width: 90%;
}



.centredBoldText{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding:  0px;
    margin-top:0px;
    font-weight: bold;
}





/* The animation code */
@keyframes example {
    from {
        width: 0%;
        transform: rotate(0deg);
        margin-right: 1%;
    }
    /*
    10% {
        transform: rotate(36deg);
    }
    20% {
        transform: rotate(72deg);
    }
    30% {
        transform: rotate(108deg);
    }
    */
    to  {
        /*width: 100%;*/
        transform: rotate(360deg);
        margin-right: 1%;
    }
}

/* The element to apply the animation to */
.dazzle {
    animation-name: example;
    animation-duration: 1s;
    animation-iteration-count: 1;
    width: 80px;
    margin-right:1%;
}


sup {
    vertical-align: top;
    position: relative;
    top: -0.5ch;
    font-size: 66%
}

sub {
    vertical-align: bottom;
    position: relative;
    bottom: -0.5ch;
    font-size: 12px;
}


/* UNORDERED LIST CLASSES */


.unorderedList{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}

.unorderedListItem{
    display: inline-flex;
    flex-direction: row;
    justify-content:space-between;
    vertical-align: central;
}


/* CLASS TO USE IN DIV TO CLEAR BOTH WITH NO OTHER FOOTPRINT */

.clearBoth{
    margin:0px;
    padding:0px;
    clear:both;
}


/* IMAGE TILE MENU */

a img.imageTileMenu{
    height: 200px;
    box-shadow: 5px 5px 10px lightgrey;
}

a img.imageTileMenu:hover{
    box-shadow: 2px 2px 5px lightgrey;
}

div.imageTileMenuRow{
    display:inline-flex;
    flex-direction: row;
    padding: 10px 0px 10px;
}

p.tileMenuRowDescription{
    padding:0px 0px 20px 20px;
    color: #5c5454;
    font-size: 12px;
}




/* TABLE PLOTTER */

table.tablePlotter{
    table-layout: fixed;
    border-width: 0px;
    background-color: lightcyan;
    border-collapse: collapse;

}
tr.tablePlotter{
    margin: 0px;
    padding: 0px;
}
tr td.tablePlotter{
    margin:0px;
    padding: 1px;
}


.error{
    color:red;
}



div.workout{
    margin:20px 80px;
    font-size: 30px;
    background-color: lightyellow;
    border-style: solid;
    border-width: 0px;
    border-color:black;
    border-radius: 10px;
    box-shadow: 3px 3px 15px brown;
}

div.workoutStep{
    margin:20px;
    font-size: 20px;
    background-color: white;
    border-style: solid;
    border-width: 0px;
    border-color:black;
}

div.workoutStepEditing{
    font-size: 60px;
    font-weight: bold;
    margin:20px;
    background-color: lightpink;
    border-style: solid;
    border-width: 0px;
    border-color:black;
}